@{
    ViewData["Title"] = "Список перемещений";
}

<div id="moving-app">

    <div class="row" v-if="isLoadPage == true">
        <div class="col-12 text-center">
            <span class="text-primary">Загрузка...</span>
        </div>
    </div>
    <div class="row" v-if="movingModels.length == 0 && isLoadPage == false">
        <div class="col-12 text-center">
            <h5>Нет перемещений</h5>
        </div>
    </div>
    <div class="row" v-if="movingModels.length > 0 && isLoadPage == false">
        <div class="col-12">

            <table class="table table-bordered table-hover table-sm" >
                <thead class="thead-light thead-hermes">
                    <tr class="text-center bg-light">
                        <th class="align-middle"><b>Время</b></th>
                        <th class="align-middle"><b>Откуда</b></th>
                        <th class="align-middle"><b>Куда</b></th>
                        <th class="align-middle"><b>Перенесено</b></th>
                        <th class="align-middle"></th>
                    </tr>
                </thead>
                <tbody class="body-hermes c-pointer text-center">
                    <tr v-for="(d, index) in movingModels">
                        <td class="align-middle">{{d.dateTime | toLocalFormat}}</td>

                        <td class="align-middle" v-if="d.departureWarehouse">{{d.departureWarehouse.name}}</td>
                        <td class="align-middle" v-if="!d.departureWarehouse">Извне</td>

                        <td class="align-middle" v-if="d.arrivalWarehouse">{{d.arrivalWarehouse.name}}</td>
                        <td class="align-middle" v-if="!d.arrivalWarehouse">Убрано со складов</td>

                        <td class="align-middle">
                            <p class="mb-0" v-for="md in d.movingDetailModels">{{md.nomenclatureModel.name}}: {{md.count}} шт.</p>
                        </td>

                        <td class="text-center align-middle">
                            <button class="btn btn-sm btn-primary" @@click="deleteMovings(d.id)">Удалить</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-6">
                    <!-- Paging https://github.com/lokyoung/vuejs-paginate -->
                    <template v-if="totalPage > 1">
                        <paginate v-model="currentPage"
                                  :page-count="totalPage"
                                  :page-range="5"
                                  :margin-pages="1"
                                  :click-handler="clickPaging"
                                  :prev-text="'Предыдущая'"
                                  :next-text="'Следующая'"
                                  :container-class="'pagination'"
                                  :page-link-class="'page-link'"
                                  :page-class="'page-item'"
                                  :prev-link-class="'page-link'"
                                  :prev-class="'page-item'"
                                  :next-link-class="'page-link'"
                                  :next-class="'page-item'">
                        </paginate>
                    </template>
                </div>
                <div class="col-6">
                    <ul class="pagination float-right">
                        <li class="pt-1 mr-3">Кол-во элементов на страницу: </li>
                        <li class="page-item"
                            v-bind:class="{ active: pageSize === 20 }"
                            v-on:click="changePageSize(20)">
                            <button class="page-link">
                                20
                            </button>
                        </li>
                        <li class="page-item"
                            v-bind:class="{ active: pageSize === 40 }"
                            v-on:click="changePageSize(40)">
                            <button class="page-link">
                                40
                            </button>
                        </li>
                        <li class="page-item"
                            v-bind:class="{ active: pageSize === 60 }"
                            v-on:click="changePageSize(60)">
                            <button class="page-link">
                                60
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row"
                 v-if="totalPage > 1">
                <div class="col-6">
                    <h7>{{pagingMessage}}</h7>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <script>
        var getMovingsUrl = "/movings/get";
        var deleteMovingsUrl = "/movings/delete";
    </script>
    <environment include="Development">
        <script src="~/js/moving/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/moving/index.js"></script>
    </environment>
}