@{
    ViewData["Title"] = "Шаблон приложения Помощник кладовщика";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Здравствуйте!</h1>
    <p>Данный пример является показным, не полным и не несет в себе смысловой нагрузки.</p>
    GitHub: <a href="https://github.com/eddchervov/StorekeeperAssistant.ClientServer">eddchervov.StorekeeperAssistant.ClientServer</a>
</div>