<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Помощник кладовщика</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
    <!-- CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
    <header class="bg-light">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Помощник кладовщика</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Moving" asp-action="Create">Создать перемещениe</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Moving" asp-action="Index">Список перемещений</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="WarehouseInventoryItem" asp-action="Report">Отчет по остаткам</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </header>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted mt-4">
        <div class="container">
            &copy; @DateTime.Now.Year - Помощник кладовщика
            <p>GitHub: <a target="_blank" href="https://github.com/eddchervov/StorekeeperAssistant.ClientServer">eddchervov.StorekeeperAssistant.ClientServer</a></p>
        </div>
    </footer>
    <!-- CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
